from qaspen.migrations import operations
from qaspen import fields


class Migration:
    ID = ...
    REFERENCE = ...
    DATETIME = ...
    IN_TRANSACTION = True

    APPLY_OPERATIONS = [{% for apply_operation in apply_operations %}
    {{ apply_operation }} {% endfor %}
    ]
    ROLLBACK_OPERATIONS = [

    ]
